<div id="explorer">
  <img class="seaXplorer-image" src="assets/images/site/home/landing-2.webp" />
  <div>
    <p class="title white">Explore the All-New SeaXplorer 80</p>
    <p>
      Unlock the facts, figures and secrets of the SeaXplorer 80 by visiting
      this page. From watching videos to scrolling through images and clicking
      on links, dive deep into the details and equip yourself with all the
      knowledge you need to ace our quiz and win big.
    </p>
    <button
      type="button"
      class="white-transparent"
      [routerLink]="['seaXplorer']"
    >
      Discover more
    </button>
  </div>
</div>
