<div id="spec">
  <div class="draught">
    <p class="content-24 green">Draught (full load)</p>
    <span class="title green">3,75 metres</span>
    <p class="green" style="margin: 0">(12 ft)</p>
  </div>
  <div class="draught">
    <p class="content-24 green">Depth moulded</p>
    <span class="title green">7,00 metres</span>
    <p class="green" style="margin: 0">(22 ft)</p>
  </div>
  <div class="draught">
    <p class="content-24 green">Beam overall (at hull)</p>
    <span class="title green">14,25 metres</span>
    <p class="green" style="margin: 0">(46 ft)</p>
  </div>
</div>
