<form *ngIf="!passwordChanged" [formGroup]="createNewPasswordForm">
  <div class="host">
    <div class="image"></div>
    <div class="inputs">
      <p class="header">Create new password</p>

      <div class="column">
        <label class="input-label sub-header-16" for="name"> Password </label>

        <div class="row">
          <input
            class="input-field"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="on"
          />

          <div class="toggle-button">
            <a *ngIf="!showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>
        <span
          *ngIf="f['password'].getError('minlength') !== null"
          class="password-message"
          >Use at least 8 characters, <br />
          number and 1 special character.</span
        >
        <span
          *ngIf="f['password'].errors?.['required'] && f['password'].touched"
          class="error-message"
        >
        his field is required.
        </span>
      </div>

      <div class="column">
        <label class="input-label sub-header-16" for="name">
          Repeat password
        </label>

        <div class="row">
          <input
            class="input-field"
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Repeat password"
            formControlName="confirmPassword"
          />

          <div class="toggle-button">
            <a *ngIf="!showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>
      </div>

      <div id="button-c">
        <button class="button" type="submit" (click)="createNewPassword()">
          Create new password
        </button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="passwordChanged">
  <div class="host">
    <div class="image"></div>

    <div class="inputs">
      <p class="header">New password created!</p>

      <p>You can now login with your newly created password.</p>

      <a class="link" href="#/login">Back to login</a>
    </div>
  </div>
</div>
