:host {
  display: flex;
  flex-direction: column;
  height: 110%;
}

#image {
  display: block;
  height: 400px;
  width: 100%;
  background: url('/assets/images/quiz/challenge-header-2.0.webp') no-repeat;
  background-size: cover;

  clip-path: polygon(
    0px 0%,
    calc(100% - 0px) 0%,
    100% 0px,
    100% calc(100% - 64px),
    calc(100% - 192px) 100%,
    192px 100%,
    0% calc(100% - 64px),
    0% 0px
  );
}

#header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;

  #center-items {
    width: 620px;
  }
}

#continue-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobile {
    display:flex;
    flex-direction: column;
  }

  #header-desktop {
    display: none;
  }

  #image {
    height: 300px;
    clip-path: polygon(
      0px 0%,
      calc(100% - 0px) 0%,
      100% 0px,
      100% calc(100% - 34px),
      calc(100% - 92px) 100%,
      92px 100%,
      0% calc(100% - 34px),
      0% 0px
    );
  }

  #heder {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    & img {
      height: 68px;
    }
    & p {
      text-align: center;
    }
  }
  
  p {
    padding: 16px;
    text-align: justify;
  }

  .title-3 {
    padding-left: 16px;

  }
}