<div class="container">
  <iframe
    src="https://player.vimeo.com/video/820807230?autoplay=1&loop=1&controls=1&background=1"
    frameborder="0"
    webkitAllowFullScreen
    mozallowfullscreen
    allowFullScreen
  >
  </iframe>
</div>
<div id="overlay">
  <span id="text">
    <h2 class="title white">Win the Damen Yachting</h2>
    <h1 class="heading white">SeaXplorer Experience</h1>
  </span>
  <span id="images">
    <img src="assets/svg/triangle.svg" />
    <img src="assets/svg/triangle-r.svg" />
  </span>
</div>
