<!-- first image -->
<!-- <div id="about">
  <div class="about-text">
    <p class="heading-2 white">About the challenge</p>
  </div>
</div> -->
<div id="about">
  <img class="about-1" src="assets/images/site/about/image-1.webp" />
  <img
    class="about-1-mobile"
    src="assets/images/site/about/image-1-mobile.webp"
  />
  <p class="about-text">About the challenge</p>
</div>

<!-- introduction -->
<div id="introduction">
  <div>
    <p class="title green">Win a unique SeaXplorer Experience</p>
    <p class="content">
      Are you ready for the ultimate adventure? If so, prepare for your
      challenge by studying the facts, figures and videos on these pages. The
      one lucky winner who answered the questions correctly will embark on an
      exclusive expedition trip with EYOS to either the magnificent Antarctic or
      the stunning Pacific. The accomplished captains and crew on the Hanse and
      Nansen explorer yachts will take you to unexplored worlds in the polar or
      tropic regions, where nature sets the stage for the most enriching
      experience.
    </p>
  </div>
</div>
