<html>
    <body>
        <div class="herosingle">
            <div class="heromask">
                <nav>
                    <div class="navbar-logo">
                    <a class="links" routerLink="/landing">
                        <img
                        class="nav-logo"
                        src="assets/images/nav_bar/logo.png"
                        alt="Logo"
                        />
                    </a>
                    </div>
                    <div class="navbar-links">
                    <ul>
                        <li><a class="links1" routerLink="/landing">Home</a></li>
                        <li><a class="links2" routerLink="/map">Find hospitals</a></li>
                        <li><a class="links3" routerLink="/doctors">Find doctors</a></li>
                        <li><a class="links4" routerLink="/blogs">Articles</a></li>
                        <li><a class="links5" routerLink="/">Community</a></li>
                        <!-- Add more navigation links as needed -->
                    </ul>
                    </div>
                    <div class="auth-buttons">
                    <button class="button1" routerLink="/login/sign-in"><img src="assets/images/nav_bar/login.png" alt="login"/></button>
                    <button class="button2" routerLink="/login/user-registration"><img src="assets/images/nav_bar/signup.png" alt="signup"/></button>
                    <!-- <div class="profile-content row">
                        <img src="assets/images/navbar/login.png" alt="">
                        <p>Sign up</p>
                    </div> -->
                    </div>
                </nav>
                <div class="user">
                    <p class="buttontext">user</p>
                    <a href="http://127.0.0.1:5000/">
                    <button class="userbutton"><img src="assets/images/landing/user.png" alt="user"/></button>
                    </a>
                </div>
                <div class="container">
                    <div class="heading1">
                        <p class="heading">BurnWise:Your Burn Care Companion</p>
                    </div>
                    <div class="para1">
                        <p class="paragraph">BurnWise, your trusted companion for burn identification and health</p><p class="paragraph"> assistance. Discover precision in care with insightful guidance on</p><p class="paragraph"> recovery. Your journey to healing starts here.</p>
                    </div>
                    <div class="mainbutton">
                            <a href="http://127.0.0.1:5000/">
                            <button class="subutton"><img src="assets/images/landing/scanbutton.png" alt="scan"/></button>
                            </a>
                            <a href="http://127.0.0.1:5000/">
                            <button class="subutton"><img src="assets/images/landing/uploadbutton.png" alt="upload"/></button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
    
<!-- <div id="content">
  <a href="http://127.0.0.1:5000/">
    <button class="button scan">Scan</button>
  </a>
</div> -->
