<div class="herosingle">
  <div class="heromask">
    <nav>
      <div class="navbar-logo">
        <a class="links" routerLink="/landing">
          <img
            class="nav-logo"
            src="assets/images/nav_bar/logo.png"
            alt="Logo"
          />
        </a>
      </div>
      <div class="navbar-links">
        <ul class="nav-ul">
          <li><a class="links1" routerLink="/landing">Home</a></li>
          <li><a class="links2" routerLink="/map">Find hospitals</a></li>
          <li><a class="links3" routerLink="/doctors">Find doctors</a></li>
          <li><a class="links4" routerLink="/blogs">Articles</a></li>
          <li>
            <a class="links5" href="https://service70.rumbletalk.net/goz0wcvQ/"
              >Community</a
            >
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
      <div class="auth-buttons">
        <button class="button1" routerLink="/login/sign-in">
          <img src="assets/images/nav_bar/login.png" alt="login" />
        </button>
        <button class="button2" routerLink="/login/user-registration">
          <img src="assets/images/nav_bar/signup.png" alt="signup" />
        </button>
        <!-- <div class="profile-content row">
                            <img src="assets/images/navbar/login.png" alt="">
                            <p>Sign up</p>
                        </div> -->
      </div>
    </nav>
    <div class="user">
      <!-- <p class="buttontext">user</p> -->
      <!-- <a href="http://127.0.0.1:5000/">
                    <button class="userbutton"><img src="assets/images/landing/user.png" alt="user"/></button>
                </a> -->
    </div>
    <div class="container">
      <div class="heading1">
        <p class="heading">BurnWise:Your Burn Care Companion</p>
      </div>
      <div class="para1">
        <p class="paragraph">
          BurnWise, your trusted companion for burn identification and health
        </p>
        <p class="paragraph">
          assistance. Discover precision in care with insightful guidance on
        </p>
        <p class="paragraph">recovery. Your journey to healing starts here.</p>
      </div>
      <div class="mainbutton">
        <!-- <a href="http://127.0.0.1:5000/">
          <button class="subutton">
            <img src="assets/images/landing/scanbutton.png" alt="scan" />
          </button>
        </a> -->
        <a href="http://127.0.0.1:5000/">
          <button class="subutton">
            <img src="assets/images/landing/uploadbutton.png" alt="upload" />
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="firstsection">
  <img class="emphasis" src="assets/images/landing/Emphasis.png" />
  <div class="maintitle1">
    <div class="heading2">
      <p class="text2">Our Services</p>
    </div>
    <div class="paragraph2">
      <p class="para2">
        Expert Care, Precise Solutions — Your Well-Being, Our Priority
      </p>
    </div>
  </div>
  <div class="carousel">
    <a routerLink="/map"
      ><img class="figures" src="assets/images/landing/Figure1.png"
    /></a>
    <a routerLink="/doctors"
      ><img class="figures" src="assets/images/landing/Figure2.png"
    /></a>
    <a routerLink="/blogs"
      ><img class="figures" src="assets/images/landing/Figure3.png"
    /></a>
    <a routerLink="/"
      ><img class="figures" src="assets/images/landing/Figure4.png"
    /></a>
  </div>
</div>
<div class="container3">
  <div>
    <img class="emphasis" src="assets/images/landing/Emphasis.png" />
  </div>
  <div class="maintitle1">
    <div class="heading2">
      <p class="text2">Our Doctors</p>
    </div>
    <div class="paragraph2">
      <p class="para2">
        Meet our skilled and compassionate doctors dedicated to your well-being.
      </p>
    </div>
  </div>
  <div class="col12">
    <div>
      <img class="emphasis2" src="assets/images/landing/Emphasis.png" />
    </div>
    <div class="col12head">
      <p class="heading3">Best Doctors From Us</p>
    </div>
    <div class="col12col">
      <div class="paragraph3">
        <p class="para3">
          Expertise, care, and a commitment to your health define our
          accomplished<br />
          medical team.
        </p>
      </div>
      <div class="col12but">
        <a routerLink="/doctors"
          ><img class="veiwbut" src="assets/images/landing/viewall.png"
        /></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="doctorstile">
      <div class="wholetile">
        <div class="row">
          <img class="doctorpic" src="assets/images/landing/doctor1.png" />
          <div class="details">
            <p class="profession"><i>Dermotologist</i></p>
            <p class="name">Dr. Stefany Lens</p>
            <p class="hospital">Moor’s Hospital, St. James</p>
            <a routerLink="/doctors"
              ><img class="veiwmo" src="assets/images/landing/viewmore.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="wholetile">
        <div class="row">
          <img class="doctorpic" src="assets/images/landing/doctor2.png" />
          <div class="details">
            <p class="profession"><i>Dermotologist</i></p>
            <p class="name">Dr. Stefany Lens</p>
            <p class="hospital">Moor’s Hospital, St. James</p>
            <a routerLink="/doctors"
              ><img class="veiwmo" src="assets/images/landing/viewmore.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="doctorstile">
      <div class="wholetile">
        <div class="row">
          <img class="doctorpic" src="assets/images/landing/doctor3.png" />
          <div class="details">
            <p class="profession"><i>Dermotologist</i></p>
            <p class="name">Dr. Stefany Lens</p>
            <p class="hospital">Moor’s Hospital, St. James</p>
            <a routerLink="/doctors"
              ><img class="veiwmo" src="assets/images/landing/viewmore.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="wholetile">
        <div class="row">
          <img class="doctorpic" src="assets/images/landing/doctor4.png" />
          <div class="details">
            <p class="profession"><i>Dermotologist</i></p>
            <p class="name">Dr. Stefany Lens</p>
            <p class="hospital">Moor’s Hospital, St. James</p>
            <a routerLink="/doctors"
              ><img class="veiwmo" src="assets/images/landing/viewmore.png"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="callsection">
  <div class="box">
    <div class="row">
      <div class="blank"></div>
      <div class="joincomm">
        <img class="ribbon" src="assets/images/landing/ribbon.png" />
        <p class="heading4">Join Community</p>
        <p class="para4">
          Empowering healing journeys with tailored recovery <br />assistance
          for burn injuries. Our compassionate <br />support and expert guidance
          prioritise your well-being.
        </p>
        <a href="https://service70.rumbletalk.net/goz0wcvQ/">
          <div class="joinbut">
            <p class="buttext">Join Us Now</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  <hr class="footerline" />
  <div class="footercontent">
    <div class="row">
      <div class="description">
        <p class="heading5">Burn Wise Aid</p>
        <p class="para5">
          BurnWise, your trusted companion for burn identification and<br />
          health assistance. Discover precision in care with insightful<br />
          guidance on recovery. Your journey to healing starts here. Our<br />
          compassionate support and expert guidance prioritise your<br />
          well-being.
        </p>
      </div>
      <div class="footerlinks">
        <p class="footerhead">Quick Links</p>
        <ul class="foot-ul">
          <li class="footlink">
            <a class="link6" routerLink="/landing">Home</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/map">Find hospitals</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/doctors">Find doctors</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/blogs">Articles</a>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
      <div class="footerserve">
        <p class="footerhead">Services</p>
        <ul class="foot-ul">
          <li class="footlink">
            <a class="link6" href="http://127.0.0.1:5000/">Scan Image</a>
          </li>
          <li class="footlink">
            <a class="link6" href="http://127.0.0.1:5000/">Upload Image</a>
          </li>
          <li class="footlink">
            <a class="link6" href="https://service70.rumbletalk.net/goz0wcvQ/"
              >Community</a
            >
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
    </div>
    <hr class="footerline2" />
    <div class="footerlast">
      <div class="row">
        <div class="footer-logo">
          <a routerLink="/landing">
            <img
              class="footer-logo"
              src="assets/images/footer/footer-logo.png"
              alt="Logo"
            />
          </a>
        </div>
        <div class="footer-but">
          <a href="http://127.0.0.1:5000/">
            <img
              class="footer-scan-but"
              src="assets/images/footer/footer-scan-but.png"
              alt="button"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <div id="content">
  <a href="http://127.0.0.1:5000/">
    <button class="button scan">Scan</button>
  </a>
</div> -->
