* {
  margin: 0;
}

.herosingle {
  width: 100%;
  height: 766px;
  background-image: url("/assets/images/landing/hero.png");
}

.heromask {
  width: 100%;
  height: 766px;
  background-color: black;
  opacity: 75%;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px,0px,50px,0px;
  height: 66px;
  width: auto;
}

.navbar-logo{
  align-items: center;
  width: 207.47px;
  height: 43px;
  margin-left: 59px;
  margin-top: 23px;
}

.nav-logo{
  width: 199.24px;
  height: 43px;
}

.navbar-links{
  width: 624px;
  height: 51px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.nav-ul{
  list-style: none;
  display: flex;
  margin: 0;
}

.links1 {
  width: 64.38px;
  height: 31px;
  color: white;
  margin-left: 9px;
  margin-top: 10px;
  margin-right: 29px;
}

.links2 {
  width: 130.05px;
  height: 31px;
  color: white;
  margin-top: 10px;
  margin-right: 29px;
}

.links3 {
  width: 117.42px;
  height: 31px;
  color: white;
  margin-top: 10px;
  margin-right: 29px;
}

.links4 {
  width: 77.07px;
  height: 31px;
  color: white;
  margin-top: 10px;
  margin-right: 29px;
}

.links5 {
  width: 113.07px;
  height: 31px;
  color: white;
  margin-top: 10px;
  margin-right: 29px;
}


a {
  text-decoration: none;
  // color: white;
}

.auth-buttons {
  display: flex;
  width: 330px;
  height: 35.89px;
  margin-top: 16px;
  padding: 0.9px,0px,0px,0px;
}

.button1 {
  width: 107.36px;
  height: 34.99px;
  border: 0.9px;
  border-radius: 19.79px;
  margin-left: 34.32px;
  margin-top: 0.9px;
  margin-bottom: 0px;
  margin-right: 8.99px;
  background-color: transparent;
}

.button2 {
  width: 122px;
  height: 34.99px;
  border: 0.9px;
  border-radius: 19.79px;
  margin-left: 32px;
  margin-top: 0.9px;
  margin-bottom: 0px;
  margin-right: 34.32px;
  background-color: transparent;

  img {
    margin-top: -2.0px;
    margin-left: -7px;
  }
}

.container {
  margin-top: 80.5px;
  margin-left: 116px;
  margin-bottom: 205.5px;
  width: 1280px;
  height: 311px;
}

.user {
  width: 16px;
  height: 24px;
  margin-top: 61px;
  position: absolute;
  right: 168px;
}

.buttontext {
  font-weight: 100;
  font-size: 8px;
  color: rgb(99, 94, 94);
}

.userbutton {
  background-color: transparent;
  border: 0px;
}

.heading1 {
  width: 936px;
  height: 46px;
  margin-top: 0px;
  margin-left: 0px;
}

.heading {
  font-weight: 700;
  font-size: 46px;
  color: white;
}

.para1 {
  width:936px;
  height:108px;
  margin-top: 31px;
  padding-top: 31px;
  margin-left: 0px;
}

.paragraph {
  font-weight: 300;
  font-size: 26px;
  color: white;
}

.mainbutton {
  width: 100%;
  height: 85px;
  margin-top: 41px;
  margin-left: 0px;
  gap: 36px;
}

.subutton {
  width: 267px;
  height: 85px;
  border-radius: 16px;
  margin-right: 36px;
  background-color: transparent;

  img{
    margin-top: -2.0px;
    margin-left: -7px;
  }
}

.emphasis {
  width: 50px;
  height: 3px;
  margin-top: 109px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.firstsection {
  width: 100%;
}

.emphasis2 {
  width: 50px;
  height: 3px;
  margin-top: 22px;
}

.heading2 {
  margin-top: 20px;
}

.text2 {
  text-align: center;
  font-size: 34px;
  font-weight: 500;
}

.para2 {
  text-align: center;
  font-size: 21px;
  font-weight: 300;
}

.carousel {
  width: 1140.8px;
  height: 327.39px;
  margin-top: 49px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin-right: 50px;
}

.figures {
  width: 235.2px;
  height: 302.39px;
  border-radius: 5px;
  margin-right: 50px;
}

.container3 {
  width: 1280px;
  height: 675px;
  margin-left: auto;
  margin-right: auto;
}

.col12head {
  width: 600px;
  height: 31.2px;
  margin-top: 20px;
}

.heading3 {
  font-size: 26px;
  font-weight: 500px;
}

.paragraph3 {
  width: 772px;
  height: 54px;
}

.para3 {
  font-size: 18px;
  font-weight: 300px;
}

.col12but {
  margin-left: 1197px;
  margin-top: -60px;
}

.doctorstile {
  width: 640px;
  height: 320px;
  margin-top: 24px;
}

.wholetile {
  width: 616px;
  height: 130px;
  margin-bottom: 29.69px;
  border: 1px;
  border-style: solid;
  border-radius: 12px;
  border-color: #CECECE80;
}

.doctorpic {
  width: 200px;
  height: 130px;
  border-radius: 12px;
  margin-right: 26px;
}

.profession {
  font-size: 12px;
  font-weight: 400px;
  color: #444444;
  margin-top: 18px;
  margin-bottom: 1px;
}

.name {
  font-size: 18px;
  font-weight: 500px;
  color: #222222;
  margin-bottom: 1px;
}

.hospital {
  font-size: 14px;
  font-weight: 400px;
  color: #777777;
}

.veiwmo {
  width: auto;
  height: auto;
  border-radius: 25px;
  margin-top: 11.22px;
}

.callsection {
  width: 100%;
  height: 502.5px;
  background-image: url("/assets/images/landing/calsection.png");
  margin-top: -50px;
}

.box {
  width: 1280px;
  height: 260.59px;
  padding-top: 170px;
  margin-left: auto;
  margin-right: auto;
}

.blank {
  width: 751.67px;
  height: 260.59px;
}

.joincomm {
  width: 505.33px;
  height: 245.59px;
  background-color: #121921;
}

.ribbon {
  width: 75px;
  height: 75px;
  margin-top: -5px;
  margin-left: 433px;
}

.heading4 {
  font-size: 28px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: -45px;
  margin-left: 45px;
}

.para4 {
  font-size: 16px;
  font-weight: 400px;
  color: #FFFFFF;
  margin-left: 45px;
  margin-top: 7.76px;
}

.joinbut {
  width: 125px;
  height: 34px;
  text-align: center;
  background-color: #1287A5;
  border-radius: 3px;
  margin-left: 45px;
  margin-top: 20.23px;
  padding-top: 15px;
}

.buttext {
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}

// footer

footer {
  width: 100%;
  height: 400px;
}

.footerline {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(#1383A2 100%,#1F2F6A 100%);
}

.footercontent {
  width: 1440px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.description {
  width: 516px;
  margin-top: 51px;
}

.footerlinks {
  width: 126px;
  margin-top: 51px;
  margin-left: 234px;
}

.footerserve {
  width: 95px;
  margin-top: 51px;
  margin-left: 234px;
}

.heading5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 19.81px;
}

.para5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.footerhead {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 22px;
}

.foot-ul {
  list-style: none;
  margin-left: -39px;
}

.footlink {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
}

.link6 {
  color: black;
}

.footerline2 {
  margin-top: 17px;
}

.footer-logo {
  width: 199.24px;
  height: 43px;
  margin-top: 17px;
}

.footer-but {
  width: 139px;
  height: 39px;
  margin-top: 35px;
  margin-left: 1101.76px;
}

#content {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;

  & .scan {
    background-color: rgb(157, 191, 192);
    padding-inline: 100px;
    height: 100px;
    // padding-bottom: 30px;
  }
}
