form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
}

.content {
  padding: 16px;
}

#email {
  width: 33%;
}

#registerCode {
  width: 33%;
}

#phoneNumber {
  width: 30%;
}

#firstName {
  width: 49%;
}

#lastName {
  width: 49%;
}

#password {
  width: 33%;
}

// address
#addressLine {
  width: 100%;
}

#city {
  width: 24%;
}

#state {
  width: 24%;
}

#zipCode {
  width: 24%;
}

#country {
  width: 24%;
}
