<div [ngSwitch]="isEmailSent">
  <form *ngSwitchCase="0" [formGroup]="emailForm">
    <div class="host">
      <div class="image"></div>
      <div class="inputs">
        <p class="header">Request new password</p>
        <div class="column">
          <label class="input-label sub-header-16" for="name">
            Phonenumber
          </label>

          <div class="row">
            <input
              damenTelInput
              (intlTelInputObject)="onTelOutput($event)"
              class="input-field"
              type="text"
              formControlName="phoneNumber"
            />
          </div>
          <span
            *ngIf="f['phoneNumber'].errors?.['required'] && f['phoneNumber'].touched"
            class="error-message"
          >
            This field is required.
          </span>
        </div>

        <div class="but-fix column">
          <button class="button" type="submit" (click)="requestNewPassword()">
            Request new password
          </button>

          <a class="link" [href]="backToLoginUrl">Back to login</a>
        </div>
      </div>
    </div>
  </form>

  <form *ngSwitchCase="1" [formGroup]="validateForm">
    <div class="host">
      <div class="image"></div>
      <div class="inputs">
        <p class="header">Request new password</p>
        <p class="description">
          We have sent an SMS to verify your account to +{{ phoneNumber }}.
          Please enter the code below to continue.
        </p>
        <div class="column">
          <label class="input-label sub-header-16" for="name">
            Validate code
          </label>

          <div class="row">
            <input
              class="input-field"
              id="email"
              type="text"
              placeholder="Validate code"
              formControlName="code"
            />
          </div>
          <span
            *ngIf="fs['code'].errors?.['code'] && fs['code'].touched"
            class="error-message"
          >
            This field is required.
          </span>
        </div>

        <div class="but-fix column">
          <button class="button" type="submit" (click)="validate()">
            Validate
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
