<div id="seaXplorer">
  <div>
    <p class="title-2 white">Introducing the SeaXplorer 80:</p>
    <p class="heading-2 white">Your Ultimate Expedition Yacht</p>
  </div>
</div>

<div id="portfolio">
  <div id="left">
    <div>
      <p class="header-3 green">Portfolio</p>
      <span class="title green">SeaXplorer</span>
    </div>
    <div class="overall-length">
      <p class="header-3 green">Overall lenght</p>
      <span class="title green">79,90 metres</span>
      <p class="green" style="margin: 0">(262 ft)</p>
    </div>
  </div>
  <div id="right">
    <p class="content-24">
      The new SeaXplorer 80 is the ultimate expedition yacht. With 40 days of
      full luxury autonomy and compliance with IMO-polar codes, this vessel has
      all the capabilities needed for real expeditions.
      <br />
      <br />
      Enjoy a fantastic party on the aft deck with up to 150 guests, carry all
      your mega-tenders up to 11,8m and operate your aircraft all season from
      your SeaXplorers self- sufficient floating airfield.
    </p>
  </div>
</div>

<img width="100%" src="assets/images/site/seaXplorer/image-2.webp" />

<div id="details">
  <div id="left-1">
    <div>
      <p class="title green">SeaXplorer Range and Speed</p>
      <p>
        The SeaXplorer range is designed to make unique expedition experiences
        possible. With cutting-edge technology, the SeaXplorer 80 offers
        impressive speed and range capabilities to ensure you can explore the
        most remote corners of the world with ease.
      </p>
    </div>
  </div>
  <span></span>
  <div id="right-1">
    <p class="title green">Innovative Design for Limitless Exploration</p>
    <p>
      frozen Arctic to the tropical seas, with cutting-edge hybrid power and
      propulsion technology. The innovative design of the SeaXplorer 80 provides
      seamless indoor-outdoor living with uncompromising expedition capability.
    </p>
  </div>
</div>

<div id="tables">
  <div class="table">
    <span>
      <p>Range @ 12 kn</p>
      <p class="title-2 green">6000 Nm</p>
    </span>
    <span>
      <p>Max speed</p>
      <p class="title-2 green">14,5 kn</p>
    </span>
    <span>
      <p>Cruise speed</p>
      <p class="title-2 green">12,0 kn</p>
    </span>
  </div>
  <div class="table">
    <span>
      <p>
        Naval <br />
        Architecture
      </p>
      <p class="title-2 green">Damen Yachting</p>
    </span>
    <span>
      <p>
        Exteriour <br />
        Designer
      </p>
      <p class="title-2 green">Azure Yacht Design</p>
    </span>
    <span>
      <p>
        Interior <br />
        Concept
      </p>
      <p class="title-2 green">Harrison Eidsgaard</p>
    </span>
  </div>
</div>

<div id="detailss">
  <div id="left-1">
    <div>
      <p class="title green">SeaXplorer Range and Speed</p>
      <p>
        The SeaXplorer range is designed to make unique expedition experiences
        possible. With cutting-edge technology, the SeaXplorer 80 offers
        impressive speed and range capabilities to ensure you can explore the
        most remote corners of the world with ease.
      </p>

      <div class="tabless">
        <div class="divider"></div>
        <div class="div-content">
          <p>Range @ 12 kn</p>
          <p class="title green">6000 Nm</p>
        </div>
        <div class="divider"></div>
        <span class="div-content">
          <p>Max speed</p>
          <p class="title green">14,5 kn</p>
        </span>
        <div class="divider"></div>
        <span class="div-content">
          <p>Cruise speed</p>
          <p class="title green">12,0 kn</p>
        </span>
        <div class="divider"></div>
      </div>
    </div>
  </div>
  <span></span>
  <div id="right-1">
    <p class="title green">Innovative Design for Limitless Exploration</p>
    <p>
      frozen Arctic to the tropical seas, with cutting-edge hybrid power and
      propulsion technology. The innovative design of the SeaXplorer 80 provides
      seamless indoor-outdoor living with uncompromising expedition capability.
    </p>
    <div class="tabless">
      <div class="divider"></div>
      <span class="div-content">
        <p>
          Naval <br />
          Architecture
        </p>
        <p class="title green">Damen Yachting</p>
      </span>
      <div class="divider"></div>
      <span class="div-content">
        <p>
          Exteriour <br />
          Designer
        </p>
        <p class="title green">Azure Yacht Design</p>
      </span>
      <div class="divider"></div>
      <span class="div-content">
        <p>
          Interior <br />
          Concept
        </p>
        <p class="title green">Harrison Eidsgaard</p>
      </span>
      <div class="divider"></div>
    </div>
  </div>
</div>

<div id="image">
  <img src="assets/images/site/seaXplorer/image-3.webp" />
</div>

<damen-ship-details></damen-ship-details>
