<div>
  <p class="title green">Get ready for the challenge!</p>
  <p>
    Swot up on the SeaXplorer 80 and prepare for the challenge ahead. The
    challenge will take you on a journey to test your knowledge of our new
    SeaXplorer 80 and the destinations she visits. By completing the challenge,
    you will be in with the chance to win the exclusive Damen Yachting
    SeaXplorer experience for two with EYOS.
  </p>
  <button type="button" class="button" [routerLink]="['seaXplorer']">
    Discover the SeaXplorer 80
  </button>
</div>
