<div class="line"></div>
<div class="tns-container">
  <div>
    <h1 class="green header-64">Terms and Conditions</h1>

    <h2 class="green title-3">
      Terms and Conditions Damen Yachting B.V. regarding the win promotion (the
      “Terms and Conditions”)
    </h2>

    <ol>
      <h2 class="green title-3">Damen Yachting - win promotion</h2>

      <li>
        Damen Yachting B.V. (hereinafter referred to as: “Damen Yachting”) is
        organizing a win promotion in which participants leave their contact
        details and have a chance to win a Damen Yachting goodie bag
        (hereinafter referred to as: the “Promotion”).
      </li>
      <li>
        The prize of the promotion consists of a Damen Yachting goodie bag with
        a value of EUR 200 (1st prize) EUR 100 (2nd and 3rd prize) (the"Prize")
      </li>
      <li>
        The winner will be selected at random during the Explorer Yachts Summit
        on November 9th, 2023, at Yacht Club de Monaco (the “Event”).
      </li>
      <li>
        The winner will be notified at the end of the the Event, ultimately
        before 19:00 CEST. If the winner cannot be reached during the day, or by
        e-mail after the event by three attempts. Damen Yachting reserves the
        right to designate another participant in the Promotion as the winner.
      </li>
      <li>
        The prize is non-transferable and cannot be exchanged for other prizes
        or cash.
      </li>
      <li>
        By participating, the participant agrees to the Terms and Conditions.
      </li>

      <!--  -->
      <h2 class="green title-3">Requirements for participation</h2>

      <li>
        Participation in the Promotion is reserved for exclusively invited
        partners to the Event, aged 18 years or older.
      </li>
      <li>
        Participation in the Promotion is not open to: employees of Damen
        Yachting, employees of affiliated companies or anyone involved in the
        realization of the Promotion.
      </li>

      <!--  -->
      <h2 class="green title-3">Enrollment procedure</h2>

      <li>
        The Promotion will be accessible for 48-hours from 00:01 CEST on 12 July
        2023 until 23:59 CEST on 13 July 2023. Damen Yachting is not liable for
        entries received late, incorrect, lost or not received due to technical
        problems.
      </li>
      <li>
        Participation in the Promotion is done by completing all fields and
        questions on the landing page of Damen Yachting. Participation is once,
        unique and reserved for individuals. Participation with more than one
        person per entry is not allowed.
      </li>

      <!--  -->
      <h2 class="green title-3">Liability</h2>

      <li>
        Damen Yachting does not guarantee the undisturbed and uninterrupted
        operation of the landing page of Damen Yachting. Despite the utmost care
        taken in the management of the website, it is possible that the
        information is incomplete or incorrect. The participant is responsible
        for adequate facilities (such as, but not limited to, telecommunication
        facilities) to participate in the Promotion.
      </li>
      <li>
        If the Promotion has to be temporarily interrupted or possibly stopped,
        Damen Yachting expressly disclaims all responsibility and the
        participants are in any case not entitled to compensation.
      </li>
      <li>
        Damen Yachting is not liable for errors in connection with (the text of)
        the Promotion (website). These errors can in no way create an obligation
        for Damen Yachting.
      </li>
      <li>
        Damen Yachting is not responsible or liable for costs incurred by the
        participant in connection with participation in the Promotion.
      </li>
      <li>
        With regard to participation in the Promotion, its consequences and its
        implementation, the participant waives any (legal) claim against
        partners, sponsors and employees who are directly or indirectly involved
        in the organization of the Promotion.
      </li>

      <!--  -->
      <h2 class="green title-3">Force majeur</h2>

      <li>
        Damen Yachting reserves the right not to pay out the Prize in the event
        of force majeure. Force majeure means occurrences and circumstances
        beyond the reasonable control of Damen Yachting or the sponsor,
        including without prejudice to the generality of the foregoing, the
        following, but not limited to: the bankruptcy of Damen Yachting and/or
        sponsor of the Prize or the application for suspension of payment by
        this sponsor.
      </li>

      <!--  -->
      <h2 class="green title-3">Personal data</h2>

      <li>
        The participant is aware and agrees that his/her/their name, telephone
        number and email address and all other data provided by the participant
        will be carefully processed and will only be used for the benefit of the
        Promotion.
      </li>

      <!--  -->
      <h2 class="green title-3">Other</h2>

      <li>
        Damen Yachting has the right, without prior notice, to change,
        supplement and/or adjust the Promotion and/or the Terms and Conditions
        or to discontinue the Promotion without giving any reason if the
        circumstances so require, without that Damen Yachting can be held liable
        in any way by the participant for any damage suffered.
      </li>
      <li>
        The invalidity of one or more provisions of the Terms and Conditions
        does not affect the validity of the other provisions. If a provision
        appears to be invalid, Damen Yachting will replace this provision with a
        provision that approaches the invalid provision as closely as possible
        in terms of nature and content.
      </li>
      <li>
        Correspondence regarding the outcome of the Promotion and/or the award
        of the Prize is not possible. If the participant has a complaint in
        connection with the Promotion organized by Damen Yachting, please send
        an e-mail to team@damenyachting.com.
      </li>
      <li>
        The Promotion and the Terms and Conditions are governed by Dutch law.
      </li>
    </ol>
    <h2 class="green title-3">Contact for more information</h2>
    <p>
      Damen Yachting B.V. <br />
      Koningsweg 2 <br />
      4381 NA Vlissingen <br />
      The Netherlands
    </p>
  </div>
</div>
<damen-footer></damen-footer>
