<div *ngIf="x === false">
  <nav>
    <div class="navbar-logo">
      <a class="links" routerLink="/landing">
        <img class="nav-logo" src="assets/images/blog/logo.png" alt="Logo" />
      </a>
    </div>
    <div class="navbar-links">
      <ul class="nav-ul">
        <li><a class="links1" routerLink="/landing">Home</a></li>
        <li><a class="links2" routerLink="/map">Find hospitals</a></li>
        <li><a class="links3" routerLink="/doctors">Find doctors</a></li>
        <li><a class="links4" routerLink="/blogs">Articles</a></li>
        <li>
          <a class="links5" href="https://service70.rumbletalk.net/goz0wcvQ/"
            >Community</a
          >
        </li>
        <!-- Add more navigation links as needed -->
      </ul>
    </div>
    <div class="auth-buttons">
      <button class="button1" routerLink="/login/sign-in">
        <img src="assets/images/blog/logbut.png" alt="login" />
      </button>
      <button class="button2" routerLink="/login/user-registration">
        <img src="assets/images/blog/signbut.png" alt="signup" />
      </button>
      <!-- <div class="profile-content row">
        <img src="assets/images/navbar/login.png" alt="">
        <p>Sign up</p>
      </div> -->
    </div>
  </nav>
</div>
<div *ngIf="x === true"><damen-navigation-bar></damen-navigation-bar></div>
<div *ngIf="level" class="ma">
  <div>
    <div id="content">
      <a href="https://meet.google.com/git-pgta-oas?authuser=0">
        <button class="button scan">Connect with video</button>
      </a>
    </div>
  </div>
</div>

<div *ngIf="!level && isDoctor" class="doctor-container column">
  <!-- <div class="side-bar"></div> -->

  <!-- <div *ngFor="let n of notifications" class="cards column">
    <div class="card">
      <div>
        <p class="patient">Patient name: {{ n.name }}</p>
        <p class="patient">Burn level: {{ n.level }}</p>
      </div>
      <a href="https://meet.google.com/git-pgta-oas?authuser=0">
        <button class="button">Connect with video</button>
      </a>
    </div>
  </div> -->

  <div class="fullcontainer">
    <div class="row">
      <div class="sidenav">
        <!-- <div class="sideitem">
          <a href="#to-show1">
            <div class="row">
              <img class="profile" src="assets/images/sidenav/profile.png" />
              <p class="sideitxt">My Profile</p>
            </div>
          </a>
        </div> -->
        <div class="sideitem">
          <a href="#to-show2">
            <div class="row">
              <img class="star" src="assets/images/sidenav/star.png" />
              <p class="sideitxt">Patient’s Notifications</p>
            </div>
          </a>
        </div>
        <div class="sideitem">
          <a (click)="update()">
            <div class="row">
              <img class="set" src="assets/images/sidenav/set.png" />
              <p class="sideitxt">Manage Doctor Details</p>
            </div>
          </a>
        </div>
        <div class="sideitem">
          <a href="http://127.0.0.1:5000/">
            <div class="row">
              <img class="set" src="assets/images/sidenav/set.png" />
              <p class="sideitxt">Scan Burn</p>
            </div>
          </a>
        </div>
      </div>
      <div class="myprofile" id="to-show1"></div>
      <div class="notification" id="to-show2">
        <div class="box">
          <div class="hosdetails">
            <p class="formtitle">Patient’s Notifications</p>
          </div>
          <div *ngFor="let ns of notifications" class="column">
            <div *ngFor="let n of ns">
              <div class="box1 row">
                <div>
                  <div class="row3">
                    <div class="row">
                      <p class="p1">Notification 01</p>
                      <a (click)="open(n)"
                        ><img
                          class="viewbut"
                          src="assets/images/dashboard/viewbut.png"
                      /></a>
                    </div>
                  </div>
                  <div class="row4">
                    <div class="row">
                      <p class="p2">Name</p>
                      <p class="p4">{{ n.name }}</p>
                    </div>
                  </div>
                  <div class="row4">
                    <div class="row">
                      <p class="p2">Level</p>
                      <p class="p3">{{ n.level }}</p>
                    </div>
                  </div>
                </div>
                <a (click)="payment(n.email)">
                  <button class="button">Send payment details</button>
                </a>
                <a href="https://meet.google.com/git-pgta-oas?authuser=0">
                  <button class="button">Connect with video</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="content">
    <a href="http://127.0.0.1:5000/">
      <button class="button scan">Scan</button>
    </a>
  </div> -->
</div>

<div *ngIf="!level && !isDoctor" class="doctor-container column">
  <!-- <div class="side-bar"></div> -->
  <div class="fullcontainer">
    <div class="row">
      <div class="sidenav">
        <!-- <div class="sideitem">
          <a href="#to-show1">
            <div class="row">
              <img class="profile" src="assets/images/sidenav/profile.png" />
              <p class="sideitxt">My Profile</p>
            </div>
          </a>
        </div> -->
        <div class="sideitem">
          <a href="#to-show2">
            <div class="row">
              <img class="star" src="assets/images/sidenav/star.png" />
              <p class="sideitxt">Patient’s Notifications</p>
            </div>
          </a>
        </div>
        <div class="sideitem">
          <a (click)="update()">
            <div class="row">
              <img class="set" src="assets/images/sidenav/set.png" />
              <p class="sideitxt">Manage Hospital Details</p>
            </div>
          </a>
        </div>
      </div>
      <div class="myprofile" id="to-show1"></div>
      <div class="notification" id="to-show2">
        <div class="box">
          <div class="hosdetails">
            <p class="formtitle">Patient’s Notifications</p>
          </div>
          <div *ngFor="let n of notifications" class="column">
            <!-- <div *ngFor="let n of ns"> -->
            <div class="box1 row">
              <div>
                <div class="row3">
                  <div class="row">
                    <p class="p1">Notification 01</p>
                    <a (click)="open(n)"
                      ><img
                        class="viewbut"
                        src="assets/images/dashboard/viewbut.png"
                    /></a>
                  </div>
                </div>
                <div class="row4">
                  <div class="row">
                    <p class="p2">Name</p>
                    <p class="p4">{{ n.name }}</p>
                  </div>
                </div>
                <div class="row4">
                  <div class="row">
                    <p class="p2">Level</p>
                    <p class="p3">{{ n.level }}</p>
                  </div>
                </div>
              </div>
              <a [href]="n.url">
                <button class="button">Check Location</button>
              </a>
            </div>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hospital-container"></div>

<footer>
  <hr class="footerline" />
  <div class="footercontent">
    <div class="row">
      <div class="description">
        <p class="heading5">Burn Wise Aid</p>
        <p class="para5">
          BurnWise, your trusted companion for burn identification and<br />
          health assistance. Discover precision in care with insightful<br />
          guidance on recovery. Your journey to healing starts here. Our<br />
          compassionate support and expert guidance prioritise your<br />
          well-being.
        </p>
      </div>
      <div class="footerlinks">
        <p class="footerhead">Quick Links</p>
        <ul class="foot-ul">
          <li class="footlink">
            <a class="link6" routerLink="/landing">Home</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/map">Find hospitals</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/doctors">Find doctors</a>
          </li>
          <li class="footlink">
            <a class="link6" routerLink="/blogs">Articles</a>
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
      <div class="footerserve">
        <p class="footerhead">Services</p>
        <ul class="foot-ul">
          <li class="footlink">
            <a class="link6" href="http://127.0.0.1:5000/">Scan Image</a>
          </li>
          <li class="footlink">
            <a class="link6" href="http://127.0.0.1:5000/">Upload Image</a>
          </li>
          <li class="footlink">
            <a class="link6" href="https://service70.rumbletalk.net/goz0wcvQ/"
              >Community</a
            >
          </li>
          <!-- Add more navigation links as needed -->
        </ul>
      </div>
    </div>
    <hr class="footerline2" />
    <div class="footerlast">
      <div class="row">
        <div class="footer-logo">
          <a routerLink="/landing">
            <img
              class="footer-logo"
              src="assets/images/footer/footer-logo.png"
              alt="Logo"
            />
          </a>
        </div>
        <div class="footer-but">
          <a href="http://127.0.0.1:5000/">
            <img
              class="footer-scan-but"
              src="assets/images/footer/footer-scan-but.png"
              alt="button"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
