<div *ngIf="showVideo" id="video">
  <div id="video" #playerContainer></div>
</div>

<form *ngIf="!showVideo" [formGroup]="quizForm">
  <div class="host">
    <div class="image"></div>
    <div class="inputs">
      <p class="header">Post address</p>
      <div class="column">
        <label class="input-label sub-header-16" for="name">
          Address line
        </label>
        <div class="row">
          <input
            class="input-field"
            id="addressLine"
            type="text"
            formControlName="addressLine"
            placeholder="Address line"
          />
        </div>
        <span
          *ngIf="f['addressLine'].errors?.['required']  && f['addressLine'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column">
        <label class="input-label sub-header-16" for="name"> City </label>
        <div class="row">
          <input
            class="input-field"
            id="city"
            type="text"
            formControlName="city"
            placeholder="City"
          />
        </div>
        <span
          *ngIf="f['city'].errors?.['required'] && f['city'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column">
        <label class="input-label sub-header-16" for="name">
          State / Province / Region
        </label>
        <div class="row">
          <input
            class="input-field"
            id="state"
            type="text"
            formControlName="state"
            placeholder="State / Province / Region"
          />
        </div>
        <span
          *ngIf="f['state'].errors?.['required'] && f['state'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column">
        <label class="input-label sub-header-16" for="name">
          Zip / Postal Code
        </label>
        <div class="row">
          <input
            class="input-field"
            id="zipCode"
            type="text"
            formControlName="zipCode"
            placeholder="Zip / Postal Code"
          />
        </div>
        <span
          *ngIf="f['zipCode'].errors?.['required']  && f['zipCode'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column">
        <label class="input-label sub-header-16" for="country"> Country </label>
        <div class="row">
          <select
            id="country"
            class="input-field-select"
            formControlName="country"
            placeholder="Country"
          >
            <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
          </select>
        </div>
        <span
          *ngIf="f['country'].errors?.['required']  && f['country'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="check-box">
        <label class="container"
          >I give permission to use my post address for marketing purposes
          <input type="checkbox" formControlName="allowMarketingMails" />
          <span class="checkmark"></span>
        </label>
      </div>

      <div id="button-c">
        <button class="button" type="submit" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</form>
