.host {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  & .header{
    width: 194.25px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47px;
    margin-bottom: 55px;
  }

  & .image {
    width: 65%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/login/login/loginpage.png');
  }

  & .imagemask {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: black;
    opacity: 60%;
  }

  & .inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0px;
    flex: 1;

    & .error-message {
      color: var(--red);
      font-weight: 300;
      font-size: 14px;
      padding-top: 4px;
    }

    .input-label {
      padding-top: 24px;
      padding-bottom: 4px;
    }

    & .input-field {
      width: 338px;
      height: 38px;
      background: #efefef;
      padding-left: 16px;
      border: #efefef solid;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }

    & .toggle-button {
      margin-top: 16px;
    }

    & .password-icon {
      position: absolute;
      margin-left: -35px;
      width: 19.69px;
      height: 14px;
    }

    & .link {
      font-size: 12.8px;
      font-weight: 500px;
      display: flex;
      text-align: center;
      justify-content: center;
      color: #999999;
      margin-bottom: 39.09px;
    }

    & .signupsection {
      margin-top: 18.91px;
      & .newto {
        font-size: 13.45px;
        font-weight: 500px;
        color: #444444;
        & .signlink {
          color: #1287A5;
        }
      }
    }

    & .copy {
      margin-top: 250px;
      & .trademark {
        font-size: 13.45px;
        font-weight: 400;
        color: #999999;
      }
    }

  }
}

@media only screen and (max-width: 768px) {
  .host {
    flex-direction: column;

    & .image {
      height: 240px;
      width: 100%;
      background-image: url('/assets/images/site/seaXplorer/image-6.webp');
    }

    & .header {
      text-align: center;
    }

    // #button-c {
    //   display: flex;
    //   justify-content: center;
    //   & .button {
    //     justify-content: center;
    //     align-items: center;
    //     width: 100px;
    //   }
    // }

    & .inputs {
      padding-top: 20px;
      justify-content: normal;
      align-items: normal;
      gap: 0px;
      margin-inline: 20px;

      & .input-field {
        width: 100vw;
      }
    }
  }
}
