:host {
  display: block;
  margin-top: 72px;
}

#explorer {
  & .seaXplorer-image {
    display: flex;
    width: 100%;
  }

  & div {
    position: relative;
    margin-top: -400px;
    padding: 72px;
    width: 550px;
    color: var(--white);
  }
}

.white-transparent {
  color: var(--white);
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  border-style: solid;
  border-color: var(--white);
  border-width: 3px;
  border-radius: 2px;
  padding-inline: 20px;
  padding-block: 12px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  background-color: #fafafa;
  padding: 72px;

  & div {
    color: var(--black);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 16px;
    & a {
      color: var(--black);
      margin: 0px;
    }
  }
}

.line {
  border-right: 1px solid #9c4924;
}

#tour {
  margin-left: 72px;
  margin-top: 100px;
  width: 40%;
}

#map {
  width: 100vw;
  //   height: 97.5vh;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/images/site/home/landing-3.jpg');
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  :host {
    display: block;
    margin-top: 16px;
  }

  #explorer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/site/home/seaxplorer_80_gradient_mobile.webp');

    & .seaXplorer-image {
      display: none;
    }

    & div {
      padding: 16px;
      width: 85%;
      color: var(--white);
    }
  }

  .info {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    height: auto;
    gap: 16px;
    padding: 16px;
    padding-block: 32px;

    & div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 90%;
    }
  }

  .line {
    padding-bottom: 16px;
    border-right: none;
    border-bottom: 1px solid #9c4924;
  }

  #tour {
    margin-left: 16px;
    margin-top: 32px;
    width: 90%;
  }

  #map {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    background-image: url('/assets/images/site/home/landing-3.jpg');
  }
}
