<div id="explorer">
  <img class="seaXplorer-image" src="assets/images/site/home/landing-2.webp" />

  <div>
    <p class="title white">Explore the All-New SeaXplorer 80</p>
    <p>
      Unlock the facts, figures and secrets of the SeaXplorer 80 by visiting
      this page. From watching videos to scrolling through images and clicking
      on links, dive deep into the details and equip yourself with all the
      knowledge you need to ace our quiz and win big.
    </p>
    <button
      type="button"
      class="white-transparent"
      [routerLink]="['seaXplorer']"
    >
      Discover more
    </button>
  </div>
</div>

<div class="info">
  <div class="line">
    <span>
      <p class="title-card green">About the prize</p>
      <p class="description">
        Win a trip with EYOS to the stunning Antarctic or breathtaking Papua New
        Guinea with your favourite plus one.
      </p>
    </span>
    <a routerLink="about"> Read more about the prize </a>
  </div>

  <div class="line">
    <span>
      <p class="title-card green">How does the SeaXplorer challenge work?</p>
      <p class="description">
        You'll be given a series of questions all about the SeaXplorer 80. The
        winner will be invited to embark on a one-of-a-kind SeaXplorer
        experience with their favourite plus one.
      </p>
    </span>
    <a routerLink="about" class="instructions-text link">Find out more</a>
  </div>
  <div>
    <span>
      <p class="title-card green">Become a SeaXplorer expert</p>
      <p class="description">
        Learn everything you can about the SeaXplorer 80 on these pages. Don’t
        miss a single detail!
      </p>
    </span>
    <a routerLink="about" class="instructions-text link"
      >Prepare for the challenge</a
    >
  </div>
</div>

<div id="tour">
  <p class="title green">
    Embark on a Digital <br />
    Trip around the World.
  </p>
  <p>
    Get ready to take a virtual trip with the SeaXplorer 80. Explore her
    capabilities and discover these beautiful destinations across the globe. Get
    ready to set sail!
  </p>
</div>

<div id="map"></div>
