<!-- <damen-navigation-bar> </damen-navigation-bar> -->
<div class="line"></div>
<div class="tns-container">
  <div>
    <h1 class="green header-64">
      Dealing with Burns: Prevention and First Aid
    </h1>

    <ol>
      <h2 class="green title-3">Types of Burns</h2>
      <li>
        Burns are classified into three main categories: first-degree,
        second-degree, and third-degree, depending on their severity and depth.
      </li>
      <li>
        First-degree burns affect only the outer layer of skin and typically
        cause redness and mild pain.
      </li>
      <li>
        Second-degree burns penetrate deeper into the skin, causing blistering,
        severe pain, and possible scarring.
      </li>
      <li>
        Third-degree burns are the most severe, affecting all layers of skin and
        underlying tissue. They may appear white, blackened, or charred and
        require immediate medical attention.
      </li>

      <!--  -->
      <h2 class="green title-3">Preventing Burns</h2>

      <li>
        Use caution when handling hot objects or liquids, such as cooking
        utensils, pots, and pans, to avoid accidental burns.
      </li>
      <li>
        Keep hot items out of reach of children and pets, and use safety gates
        or barriers around stoves and fireplaces to prevent accidents.
      </li>
      <li>
        Use oven mitts or potholders when handling hot dishes or trays, and
        never touch heated surfaces with bare hands.
      </li>
      <li>
        Install smoke detectors and fire extinguishers in your home, and
        practice fire safety drills with your family to prepare for emergencies.
      </li>

      <!--  -->
      <h2 class="green title-3">First Aid for Burns</h2>

      <li>
        For minor burns, immediately cool the affected area under running water
        for at least 10 to 20 minutes to alleviate pain and reduce swelling.
      </li>
      <li>
        Cover the burn with a sterile gauze bandage or clean cloth to protect it
        from infection and further damage.
      </li>
      <li>
        Avoid applying ice, butter, or ointments to the burn, as they can worsen
        the injury and delay healing.
      </li>
      <li>
        Seek medical attention for burns that are larger than a quarter, affect
        the face, hands, feet, or genitals, or show signs of infection, such as
        increased pain, swelling, or pus.
      </li>

      <!--  -->
      <h2 class="green title-3">Seeking Professional Help</h2>

      <li>
        In case of severe burns, call emergency services immediately and provide
        first aid while waiting for help to arrive.
      </li>
      <li>
        Do not attempt to remove clothing stuck to the burn or pop blisters, as
        this can increase the risk of infection and worsen the injury.
      </li>
      <li>
        Follow the advice of medical professionals and attend follow-up
        appointments for proper wound care and rehabilitation.
      </li>

      <!--  -->
      <h2 class="green title-3">Stay Informed</h2>

      <li>
        Educate yourself and your family about burn prevention strategies and
        first aid techniques to minimize the risk of burns and respond
        effectively in case of an emergency.
      </li>
      <li>
        Stay updated on safety guidelines and recommendations from trusted
        sources, such as healthcare providers and fire safety organizations.
      </li>
    </ol>
  </div>
</div>
<damen-footer></damen-footer>
