<damen-navigation-bar> </damen-navigation-bar>
<div class="line"></div>
<div class="tns-container">
  <div>
    <h1 class="green header-64">Terms and Conditions</h1>

    <ol>
      <h2 class="green title-3">Damen Yachting SeaXplorer challenge</h2>
      <li>
        Damen Yachting B.V. (hereinafter referred to as: “<b class="text-bold"
          >Damen Yachting</b
        >”) is organizing a campaign in which participants leave their contact
        details and have a chance to win an expedition for two people to the
        Antarctic or Pacific region with EYOS expeditions. (hereinafter referred
        to as: the “<b class="text-bold">Promotion</b>”). The Promotion is a
        small promotional game of chance and is organized to promote Damen
        Yachting.
      </li>
      <li>
        The prize of the Promotion consists of a trip to Antarctica or Papua New
        Guinea on one of the expedition vessels of Eyos. The trip to Antarctica
        will take place in February 2024. The trip to Papua New Guinea will take
        place in (Northern Hemisphere) summer 2024.
      </li>
      <li>The winner will be selected at random.</li>
      <li>
        The winner will be notified by receiving a SeaXplorer Secrid wallet.
      </li>
      <li>
        All participants will receive a SeaXplorer Secrid wallet with the
        personal results.
      </li>
      <li>
        The winner will be notified by e-mail, before 30th of July 2023. If the
        winner cannot be reached by mail after 3 attempts, Damen Yachting
        reserves the right to designate another participant in the promotion as
        the winner by drawing.
      </li>
      <li>
        The prize is non-transferable and cannot be exchanged for other prizes
        or cash.
      </li>
      <li>
        By participating, the participant agrees to these Terms and Conditions.
      </li>

      <!--  -->
      <h2 class="green title-3">Requirements for participation</h2>

      <li>
        Participation in the Promotion is reserved for exclusive invited
        partners aged 18 years or older.
      </li>
      <li>
        Participation in the Promotion is not open to: employees of Damen
        Yachting or employees of affiliated companies; anyone involved in the
        realization of this Promotion and/or involved in the judging.
      </li>

      <!--  -->
      <h2 class="green title-3">Enrollment procedure</h2>

      <li>
        The Promotion will be accessible for 48-hours from 00:01 CEST on 12 July
        2023 until 23:59 CEST on 13 July 2023. Damen Yachting is not liable for
        entries received late, incorrect, lost or not received due to technical
        problems.
      </li>
      <li>
        Participation in the Promotion is done by completing all fields and
        questions on the landing page of Damen Yachting. Participation is once,
        unique and reserved for individuals. Participation with more than one
        person per entry is not allowed.
      </li>

      <!--  -->
      <h2 class="green title-3">Liability</h2>

      <li>
        Damen Yachting does not guarantee the undisturbed and uninterrupted
        operation of the Landing page of Damen Yachting. Despite the utmost care
        taken in the management of the website, it is possible that the
        information is incomplete or incorrect. The participant is responsible
        for adequate facilities (such as, but not limited to, telecommunication
        facilities) to participate in the Promotion.
      </li>
      <li>
        If the Promotion has to be temporarily interrupted or possibly stopped,
        Damen Yachting expressly disclaims all responsibility and the
        participants are in any case not entitled to compensation.
      </li>
      <li>
        Damen Yachting is not liable for errors in connection with (the text of)
        the Promotion (website). These errors can in no way create an obligation
        for Damen Yachting.
      </li>
      <li>
        Damen Yachting is not responsible or liable for costs incurred by the
        participant in connection with participation in the Promotion.
      </li>
      <li>
        With regard to participation in the Promotion, its consequences and its
        implementation, the participant waives any (legal) claim against
        partners, sponsors and employees who are directly or indirectly involved
        in the organization of the Promotion.
      </li>

      <!--  -->
      <h2 class="green title-3">Force majeur</h2>

      <li>
        Damen Yachting reserves the right not to pay out the prize in the event
        of force majeure. Force majeure means occurrences and circumstances
        beyond the reasonable control of Damen Yachting or the sponsor and
        supplier, including without prejudice to the generality of the
        foregoing, the following, but not limited to: the bankruptcy of the
        supplier and/or sponsor of a prize or the application for suspension of
        payment by this supplier and/or sponsor.
      </li>

      <!--  -->
      <h2 class="green title-3">Personal data</h2>

      <li>
        The participant is aware and agrees that his/her/their name, telephone
        number and email address and all other data provided by the participant
        will be carefully processed and will only be used for the benefit of the
        Promotion.
      </li>

      <!--  -->
      <h2 class="green title-3">Prize</h2>

      <li>
        The prize of the Promotion consists of a trip to Antarctica or Papua New
        Guinea on one of the expedition vessels of EYOS. The trip to Antarctica
        will take place in February 2024. The trip to Papua New Guinea will take
        place in (Northern Hemisphere) summer 2024. The winner can choose
        between one of the offered expeditions by Eyos. The airfare for two
        persons will be arranged by Damen Yachting. Damen Yachting is not
        responsible for any other additional costs.
      </li>

      <h3 class="green">What’s included in the prize?</h3>
      <ul>
        <li>
          Expedition to Antarctica or Papua New Guinea on one of the expedition
          vessels of Eyos for participant and companion.
        </li>
        <li>
          One return flight and transfer (provided by Damen Yachting) for
          participant and companion.
        </li>

        <li>Passage on the vessel</li>
        <li>
          All excursions via Zodiac, kayak and Standup Paddle board off the
          ship.
        </li>
        <li>
          All offered meals onboard the vessel and nonalcoholic beverages.
        </li>
        <li>Standard wines and alcohol.</li>
        <li>EYOS Expedition guide.</li>
        <li>Port charges and government fees while onboard the vessel.</li>
        <li>
          Scuba and snorkeling from the vessel (Hanse Explorer only- activity
          not offered onboard Nansen Explorer in Antarctica).
        </li>
      </ul>

      <h3 class="green">Whats excluded in the prize?</h3>
      <ul>
        <li>
          Any other additional costs that will be charged by EYOS during the
          expedition, such as but not limited to: Top shelf alcohol, special
          request food items not found on the regular menu (ie caviar etc),
          transport to and from the vessel. Any personal fees (such as passport,
          visa, immigration, or vaccination), any COVID-19 tests required for
          travel, travel protection plan or insurance, items of personal nature
          such as satellite phone calls, gratuities to ship's crew and
          expedition guides at your discretion.
        </li>
        <li>
          Any other additional costs that are not listed under included are for
          care/account of the participant.
        </li>
      </ul>

      <!--  -->
      <h2 class="green title-3">Other</h2>

      <li>
        Damen Yachting has the right, without prior notice, to change,
        supplement and/or adjust the Promotion and/or the Promotional Terms and
        Conditions or to discontinue the Promotion without giving any reason if
        the circumstances so require, without that Damen Yachting can be held
        liable in any way by the participant for any damage suffered.
      </li>
      <li>
        To claim the prize, the participant and travel companion must hold a
        valid passport and visa when needed, which will not expire within 6
        months after the last day of the trip. Damen Yachting cannot be held
        liable in any way for eligibility to enter/exit the destination country.
      </li>
      <li>
        Damen Yachting will take care of the declaration and the withholding of
        the tax in accordance with the provisions of the Betting and Gambling
        Tax Act.
      </li>
      <li>
        The invalidity of one or more provisions of the Terms and Conditions
        does not affect the validity of the other provisions. If a provision
        appears to be invalid, Damen Yachting will replace this provision with a
        provision that approaches the invalid provision as closely as possible
        in terms of nature and content.
      </li>
      <li>
        Correspondence regarding the outcome of the Promotion and/or the award
        of the prize is not possible. If the participant has a complaint in
        connection with the promotion organized by Damen Yachting e-mail to
        team@damenyachting.com
      </li>
      <li>The Promotion and Terms and Conditions are governed by Dutch law.</li>

      <h2 class="green title-3">Code of conduct</h2>

      <li>
        The Terms and Conditions have been drawn up in accordance with the Code
        of Conduct for Promotional Games of Chance (the
        <a
          target="_blank"
          href="https://damen.sharefile.com/d-s781d9bb2cd414f8b952a1710e2cadf71"
        >
          “Code of Conduct”
        </a>
        ). Access the Code of Conduct via:
      </li>
    </ol>
    <h2 class="green title-3">Contact for more information</h2>
    <p>
      Damen Yachting B.V. <br />
      Koningsweg 2 <br />
      4381 NA Vlissingen <br />
      The Netherlands
    </p>
  </div>
</div>
<damen-footer></damen-footer>
