<damen-navigation-bar></damen-navigation-bar>
<p class="header">Doctors</p>
<div class="container">
  <div class="cards">
    <div class="row" *ngFor="let chunk of chunkedCards">
      <div class="card" *ngFor="let card of chunk">
        <a
          class="link"
          [href]="
            'http://localhost:4200/#/site?name=' +
            card.firstName +
            '&level=' +
            level
          "
        >
          <p (click)="sendDoctor(card._id)">{{ card.firstName }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
<damen-footer></damen-footer>
