.header {
  width: 194.25px;
  height: 42px;
  margin-top: 47px;
  margin-bottom: 190px;
}

.button-1 {
  width: 200px;
  height: 67px;
  font-weight: 600;
  font-size: 16px;
  background-color: #1287a5;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  font-family: 'TT Firs Neue DemiBold', sans-serif !important;
  margin-bottom: 50px;
}

.button-1:hover {
  border: 1px solid #01463b;
  background-color: #01463b;
  color: #ffffff;
  //padding: 5px 10px;
}

.button-1:disabled,
.button-1[disabled] {
  border: 1px solid #678b8580;
  background-color: #678b8580;
  color: #ffffff;
}

.copy {
  position: fixed;
  bottom: 0px;
  & .trademark {
    font-size: 13.45px;
    font-weight: 400;
    color: #999999;
  }
}

.header1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 47px;
  margin-bottom: 60px;
}

.header-1 {
  margin-top: -100px;
  margin-bottom: 100px;
}

.host {
  height: 100vh;
  display: flex;
  flex-direction: row;

  & .image {
    width: 65%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('/assets/images/login/registration/registration.png');
  }

  & .imagemask {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: black;
    opacity: 60%;
  }

  & .image-mobile {
    display: none;
  }

  & .inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0px;
    flex: 1;

    & .error-message {
      color: var(--red);
      font-weight: 300;
      font-size: 14px;
      padding-top: 4px;
    }

    .password-message {
      padding-top: 4px;
      color: #666666;
      font-weight: 300;
      font-size: 14px;
    }

    .input-label {
      padding-top: 10px;
      padding-bottom: 4px;
    }

    .input-label-disable {
      padding-top: 24px;
      padding-bottom: 4px;
      color: #aeaeae;
    }

    .inputs {
      height: 30px;
      background: #ffffff;
      border-width: 0.5px;
      border-radius: 3px;
      border-color: #d2d8dd;
    }

    .slect-user {
      padding-top: 20px;
      text-decoration: none;
    }

    & .input-field-1 {
      width: 360px;
      height: 30px;
      background: #ffffff;
      border-width: 1px;
      border-radius: 3px;
      border-color: #d2d8dd;
      color: #626568;
      padding-left: 10px;
      // margin-bottom: 16px;
    }

    & .selected-time-ranges {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 6px;
    }

    & .input-field {
      @extend .inputs;
      width: 340px;
      padding-left: 16px;
      margin-bottom: 17px;
    }

    & .input-field-mobile {
      @extend .inputs;
      width: 332px;
    }

    & .toggle-button {
      margin-top: 16px;
    }

    & .password-icon {
      position: absolute;
      margin-left: -35px;
      width: 19.69px;
      height: 14px;
    }

    .button {
      width: 340px;
      height: 37px;
      font-weight: 600;
      font-size: 14px;
      margin-top: 17px;
    }

    .button:hover {
      border: 1px solid #01463b;
      background-color: #01463b;
      color: #ffffff;
      //padding: 5px 10px;
    }

    .button:disabled,
    .button[disabled] {
      border: 1px solid #1287a5;
      background-color: #1287a5;
      color: #ffffff;
    }

    & .check-box {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: -36px;
    }

    & .terms-and-conditions {
      margin-top: 25px;
      margin-left: 40px;
    }
  }
}

.choose {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
}

.pick {
  width: auto;
  height: 37px;
  color: #ffffff;
  background-color: #1287a5;
  border-style: none;
  border-radius: 3px;
  margin-left: -35px;
}

@media only screen and (max-width: 768px) {
  .host {
    flex-direction: column;

    & .image {
      display: none;
    }

    & .image-mobile {
      display: flex;
      height: 100%;
      width: 100%;
    }

    & .header {
      text-align: center;
    }

    #button-c {
      display: flex;
      justify-content: center;
      & .button {
        justify-content: center;
        align-items: center;
        width: 130px;
      }
    }

    & .inputs {
      padding-top: 20px;
      justify-content: normal;
      align-items: normal;
      gap: 0px;
      flex: 0;
      margin-inline: 20px;

      & .input-field {
        width: 100vw;
      }

      & .input-field-mobile {
        width: 87vw;
      }

      & .check-box {
        margin-left: 0px;
      }
    }

    & .terms-and-conditions {
      margin-top: 25px;
      margin-left: 40px;
    }
  }
}

.x {
  margin-top: -20px;
}
