<form [formGroup]="registerForm">
  <div class="host">
    <div *ngIf="!status" class="choose">
      <a class="links" routerLink="/landing">
        <img
          class="header"
          src="assets/images/login/login/logo.png"
          alt="Logo"
        />
      </a>

      <button class="button-1" type="submit" (click)="changeStatus('doctor')">
        Doctor
      </button>

      <button class="button-1" type="submit" (click)="changeStatus('hospital')">
        Hospital
      </button>

      <div class="copy">
        <p class="trademark">© BurnWiseAid</p>
      </div>
    </div>

    <div *ngIf="status === 'doctor'" class="inputs">
      <p class="header1">Doctor Registration</p>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="First Name"
          />
        </div>
      </div>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="Last Name"
          />
        </div>
      </div>
      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="E-mailaddress"
            type="email"
            formControlName="email"
            placeholder="E-mailaddress"
          />
        </div>
      </div>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="E-mailaddress"
            type="text"
            formControlName="hospital"
            placeholder="Hospital Name"
          />
        </div>
      </div>

      <!-- <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="time"
            type="email"
            formControlName="time"
            placeholder="Available times"
          />
        </div>
      </div> -->

      <div class="time-ranges-selector">
        <select class="input-field-1" (change)="selectTimeRange($event)">
          <option value="">Available Times</option>
          <option *ngFor="let timeRange of timeRanges" [value]="timeRange">
            {{ timeRange }}
          </option>
        </select>
        <div class="selected-time-ranges">
          <div
            *ngFor="let selectedRange of selectedTimeRanges; let i = index"
            class="selected-range"
          >
            {{ selectedRange }}
            <span class="remove-icon" (click)="removeTimeRange(i)">x</span>
          </div>
        </div>
      </div>

      <div class="column password">
        <div class="row">
          <input
            class="input-field"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="new-password"
          />
          <div class="toggle-button">
            <a *ngIf="!showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>

        <span
          *ngIf="f['password'].getError('minlength') !== null"
          class="password-message"
          >Use at least 8 characters, <br />1 number and 1 special
          character.</span
        >

        <span
          *ngIf="f['password'].errors?.['required'] && f['password'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column password">
        <div class="row">
          <input
            class="input-field"
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Repeat password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />

          <div class="toggle-button">
            <a *ngIf="!showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>
      </div>
      <div class="check-box">
        <label class="container">
          <input
            type="checkbox"
            [checked]="saveUsername"
            (change)="saveUsername = !saveUsername"
            formControlName="checkBox"
          />
          <span class="checkmark"></span>
        </label>

        <label class="terms-and-conditions">
          I accept the
          <a target="_blank">terms and conditions</a>
        </label>
      </div>

      <div id="button-c">
        <button
          class="button"
          type="submit"
          [disabled]="!saveUsername"
          (click)="userRegistration()"
        >
          Register Now!
        </button>
      </div>
      <div class="copy">
        <p class="trademark">© BurnWiseAid</p>
      </div>
    </div>

    <div *ngIf="status === 'hospital'" class="inputs">
      <p class="header1">Hospital Registration</p>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="Hospital Name"
          />
        </div>
      </div>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="Branch Name"
          />
        </div>
      </div>
      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="E-mailaddress"
            type="email"
            formControlName="email"
            placeholder="E-mailaddress"
          />
        </div>
      </div>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="location"
            type="email"
            formControlName="location"
            placeholder="Location"
          />

          <button class="pick" (click)="openMap()">pick</button>
        </div>
      </div>

      <div class="column">
        <div class="row">
          <input
            class="input-field"
            id="image"
            type="text"
            formControlName="image"
            placeholder="Image"
          />
        </div>
      </div>

      <div class="column password">
        <div class="row">
          <input
            class="input-field"
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Password"
            formControlName="password"
            autocomplete="new-password"
          />
          <div class="toggle-button">
            <a *ngIf="!showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showPassword" (click)="togglePassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>

        <span
          *ngIf="f['password'].getError('minlength') !== null"
          class="password-message"
          >Use at least 8 characters, <br />1 number and 1 special
          character.</span
        >

        <span
          *ngIf="f['password'].errors?.['required'] && f['password'].touched"
          class="error-message"
        >
          This field is required.
        </span>
      </div>

      <div class="column password">
        <div class="row">
          <input
            class="input-field"
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            placeholder="Repeat password"
            formControlName="confirmPassword"
            autocomplete="new-password"
          />

          <div class="toggle-button">
            <a *ngIf="!showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon-slash.png"
                alt="HTML tutorial"
            /></a>
            <a *ngIf="showConfirmPassword" (click)="toggleConfirmPassword()"
              ><img
                class="password-icon"
                src="assets/images/login/login/password-icon.png"
                alt="HTML tutorial"
            /></a>
          </div>
        </div>
      </div>
      <div class="check-box">
        <label class="container">
          <input
            type="checkbox"
            [checked]="saveUsername"
            (change)="saveUsername = !saveUsername"
            formControlName="checkBox"
          />
          <span class="checkmark"></span>
        </label>

        <label class="terms-and-conditions">
          I accept the
          <a target="_blank">terms and conditions</a>
        </label>
      </div>

      <div id="button-c">
        <button
          class="button"
          type="submit"
          [disabled]="!saveUsername"
          (click)="userRegistration()"
        >
          Register Now!
        </button>
      </div>
      <div class="copy">
        <p class="trademark">© BurnWiseAid</p>
      </div>
    </div>
    <div class="image"><div class="imagemask"></div></div>
    <img
      class="image-mobile"
      src="/assets/images/login/registration/registration.png"
    />
  </div>
</form>
