<!-- 4 images -->
<div id="four-images-c">
  <div class="row">
    <img class="four-images" src="assets/images/site/about/image-5.webp" />
    <img class="four-images" src="assets/images/site/about/image-6.webp" />
  </div>
  <div class="row">
    <img class="four-images" src="assets/images/site/about/image-7.webp" />
    <img class="four-images" src="assets/images/site/about/image-8.webp" />
  </div>
</div>

<div id="eyos-exped">
  <div class="f row">
    <div id="eyos-details">
      <p class="header">EYOS expeditions</p>
      <p class="padding-top-10">
        Since pioneering the category in 2008, EYOS remains the world leader in
        private superyacht expeditions. This expertise is grounded in hard-won
        experience, decades of expeditions to the world’s wildest places, where
        knowledge, self-sufficiency and safety standards are the only
        assurances.
      </p>
      <p class="padding-top-10">
        EYOS’ full-time shoreside team has over 350 years of collective
        expedition experience and represents a network of travel and marine
        specialists that spans seven continents.
      </p>
      <p class="padding-top-10">
        Specialising in bespoke itineraries, permitting, complex logistics,
        marine consulting and more, EYOS enables yacht owners, captains, and
        charterers to dream bigger and confidently set their course for the most
        remote and culturally rich parts of the world.
      </p>

      <button
        class="button"
        onClick="window.open('https://www.eyos-expeditions.com/');"
      >
        Discover more about EYOS
      </button>
    </div>

    <div class="container">
      <iframe
        src="https://player.vimeo.com/video/59352589"
        frameborder="0"
        webkitAllowFullScreen
        mozallowfullscreen
        allowFullScreen
      >
      </iframe>
    </div>
  </div>
</div>
