:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  padding-top: 50px;
}

.quiz-image {
  width: 100%;
}

.quiz-image-res {
  display: none;
}

#images {
  margin-top: -74px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  & img {
    width: 200px;
  }
}

.image-shape {
  width: 20%;
  max-width: 300px;
}

.desciption {
  text-align: center;
}

.desciption-res {
  display: none;
}

.question-text {
  padding-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 50%;
}

.details {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -60px;

  & .title {
    text-align: center;
  }
}

#button-margin-des {
  display: flex;
  justify-content: center;
}

.white-space {
  height: 150px;
}

@media only screen and (max-width: 1300px) {
  .quiz-image {
    display: none;
  }

  .quiz-image-res {
    display: flex;
    width: 100%;
  }

  #images {
    margin-top: -34px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    & img {
      width: 92px;
    }
  }

  .desciption {
    display: none;
  }

  .details {
    margin-top: 0px;
  }

  .desciption-res {
    display: flex;
    flex-direction: column;
    padding-inline: 16px;
    text-align: center;
  }

  .question-text {
    width: 100%;
    padding-top: 20px;
    align-items: center;
    text-align: center;
    & img {
      flex: 0.2;
      margin-top: 8px;
      width: 58px;
    }

    & title {
      text-align: center;
    }
  }

  #button-margin {
    margin-top: 0px;
  }

  #button-margin-des {
    display: none;
  }
}
