<img class="quiz-image" src="assets/images/quiz/quiz-image-1.png" />
<img class="quiz-image-res" src="assets/792a146aaf24045a54daeba6e4bb7f29.png" />

<span id="images">
  <img src="assets/svg/triangle.svg" />
  <img src="assets/svg/triangle-r.svg" />
</span>

<div class="question-text">
  <img class="image-shape" src="assets/images/site/home/shape-1-left.png" alt="" />
  <div class="details">
    <p class="title green">Welcome to the challenge</p>

    <div class="desciption">
      <p>
        You are about to embark on a expedition with our brand-new SeaXplorer
        80. The challenge consists of a virtual journey that shows the
        SeaXplorer's abilities and the unforgettable places this yacht is
        designed to visit. By answering the questions correctly, you have a
        chance to win a voyage to Papua New Guinea or the Antarctic for two. 
      </p>
      <p>
        Click on the start button below once you are ready to start the
        challenge. It will take approximately 15 minutes to complete. 
      </p>
      <p>This challenge contains audio and is best experienced on a desktop.</p>
    </div>
    <div id="button-margin-des">
      <button class="button" (click)="startQuiz()">Start the challenge</button>
    </div>
  </div>
  <img class="image-shape" src="assets/images/site/home/shape-1-right.png" alt="" />
</div>

<div class="desciption-res">
  <p>
    You are about to embark on a expedition with our brand new SeaXplorer 80.
    During the challenge you will be guided by several hosts as you visit
    yachting hotspots around the world. The winner will win the Damen Yachting
    Xplorer Experience, so you better step up your game!
  </p>
  <p>
    Click on the start button below once your ready to start the challenge! It
    will take roughly 10 minutes to complete.
  </p>
  <p>This challenge contains audio and is best experienced on a desktop.</p>
  <div id="button-margin">
    <button class="button" (click)="startQuiz()">Start the challenge</button>
  </div>
</div>

<div class="white-space"></div>
