<div class="nav">
  <a [routerLink]="['/landing']">
    <img class="logo" src="assets/images/login/login/logo.png" />
  </a>
  <span>
    <div class="mobile">
      <!-- <a
        *ngIf="isDoctor"
        class="links"
        routerLinkActive="red"
        [routerLinkActiveOptions]="{ exact: true }"
        href="http://127.0.0.1:5000/"
      >
        Scan burn
      </a> -->
      <!-- <a
        class="links"
        routerLinkActive="red"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/site"
      >
        Patient notificationssss
      </a> -->
      <!-- <a
        class="links"
        routerLinkActive="red"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/site/seaXplorer"
        >SeaXplorer 80</a
      >
      <a
        class="links"
        routerLinkActive="red"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/site/about"
        >About the challenge</a
      > -->
    </div>

    <img class="user-profile" src="assets/images/site/home/userProfile.png" />

    <div *ngIf="user$ | async as user">
      <p (click)="update(user.id)" class="user">
        {{ user.firstName }} {{ user.lastName }}
      </p>
    </div>

    <button mat-icon-button id="menu-icon" (click)="showSideNav = !showSideNav">
      <mat-icon>{{ showSideNav ? 'close' : 'menu' }}</mat-icon>
    </button>

    <span class="mobile">
      <ng-container *ngTemplateOutlet="signOut"></ng-container>
    </span>
  </span>
</div>

<div *ngIf="showSideNav" id="side-nav" @fadeIn @fadeOut>
  <span id="sign-out-bar">
    <div class="singout-button">
      <ng-container *ngTemplateOutlet="signOut"></ng-container>
    </div>
    <span>
      <a
        class="links title green"
        routerLinkActive="mobile-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClickLink('site')"
        >Home</a
      >
      <a
        class="links title green"
        routerLinkActive="mobile-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClickLink('site/seaXplorer')"
      >
        SeaXplorer 80
      </a>
      <a
        class="links title green"
        routerLinkActive="mobile-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="onClickLink('site/about')"
        >About the challenge
      </a>
    </span>
  </span>
</div>

<ng-template #signOut>
  <a class="sign-out" (click)="onSignOut()">Sign out</a>
</ng-template>
